<!-- Reference: https://colab.research.google.com/drive/1XlmtcyMdPRQC6bw2HQYb3UPtVGKqUJ0a#scrollTo=M1wElvooTBjp -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>TIS Services</title>
</head>

<body>
<!-- <body onload="startSession()"> -->
    <div class="box" id="session_left">
        <div id="caseInfo">
            <p><b>TIS Session:</b> Communication Diagnostic</p>
            <p><b>Case:</b> Eve Polastri</p>
            <p><b>Occupation:</b> Former MI6 Agent</p>
            <p><b>Condition:</b> Coma due to gunshot wounds</p>
            <p><b>Location:</b> MI6 Medical Facility (Undisclosed), London</p>
            <p><b>Guidelines for Agent 0512:</b></p>
            <ul>
                <li>Inform Eve of her current condition</li>
                <li>Gain her trust, assure her your conversation is private</li>
                <li>Ask her what she knows about The Twelve</li>
                <li>Find out what she knows regarding Villanelle’s whereabouts</li>
                <li>Her mind may wander outside of your conversation, please be patient with her</li>
            </ul>
            <button type="submit" id="startButton" onclick="startSession()">Start Session</button>
        </div>
    </div>

    <div class="box" id="session_right">    
        <div>Remaining time: <span id="timer"></span></div>

        <div id="log"></div>

        <input type="text" id="typehere" placeholder="type here">
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/chatbot_script.js') }}"></script>
</body>

</html>