<!-- Reference: https://colab.research.google.com/drive/1XlmtcyMdPRQC6bw2HQYb3UPtVGKqUJ0a#scrollTo=M1wElvooTBjp -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>TIS Services</title>
</head>

<body onload="startSession()">
    <div id="log"></div>

    <input type="text" id="typehere" placeholder="type here">

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/chatbot_script.js') }}"></script>
</body>

</html>