<!-- Reference: Allison Parrish's Semantic Similarity Chatbot
https://gist.github.com/aparrish/114dd7018134c5da80bae0a101866581
https://github.com/aparrish/semanticsimilaritychatbot/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>TIS Services</title>
</head>

<body>
    <div id="startScreen">
        <p>Thought Identification System (TIS)</p>

        <p>Select Case:</p>
        <select name="cases">
            <option value="eve">Eve Polastri</option>
        </select>

        <p>Select Service:</p>
        <select name="services">
            <option value="chat">Communication Diagnostic (5 min)</option>
        </select>
        
        <p>New Session:</p>
            <button type="submit" id="button" onclick="displayCase()">Initialize</button>
    </div>

    <div id="caseInfo">
        <p><b>TIS Session:</b> Communication Diagnostic for Eve Polastri</p>
        <p><b>Objective:</b> Learn location of Oxana Vorontsova, aka Villanelle</p>
        <p><b>Duration:</b> 5 minutes</p>
        <p><b>Notes:</b> From Carolyn Martens, MI6 Russia Desk</p>
        <ul>
            <li>Try asking Eve where Villanelle is.</li>
            <li>Ask her about her relationship with Villanelle, she loves talking about it.</li>
            <li>See if she knows anything more about The Twelve.</li>
            <li>Gain her trust.</li>
            <li>Assure her your conversation is private.</li>
            <li>Be patient.</li>
            <li>Be polite, even if she swears.</li>
        </ul>
        <form action="/session" method="POST">
            <button type="submit" id="button">Start Session</button>
        </form>
    </div>

    </div><p id="status"></p><div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/index_script.js') }}"></script> 
</body>

</html>